body {
    background-color: rgb(230, 240, 239);
    color: rgb(104, 13, 165);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home {
    background-color: rgb(4, 71, 4);
    background-image: url("../images/bg-cat.jpg");
    background-size:  cover; height: 20rem;
    color: rgb(255, 252, 248);
    padding: 2rem 30px 30px 2em;
    border-radius: 30px 30px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 2em;
    }
    #motto {
      color: rgb(202, 225, 235);
        font-style: italic;
        font-weight: 100;
        position: relative;
        top: 50%;
    }
    #navbar {
      color: antiquewhite;
      background-color: rgb(10, 126, 97);
      height: 40px;
      text-align: center;
      border-radius: 0 0 30px 30px;
    }
  .text-center {
    text-align: center;
  }

    h1,h2 {
        font-family: 'Merienda One', 'Brush Script MT', cursive;
      }
      
      h1 {
        font-size: 4rem;
        margin: 0;
      }
      
      h2 {
        font-size: xx-large;
      }
  
.album {
  float: left;
  width: 30%;
  margin: 2%;
  bottom: 0%;
}
.my {
  clear: both;
}
.album a {
  text-align: center;
}
img {
  width: 100%;
}
h2 {
  text-align: center;
}
.nav-space {
  color: white;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  top: 10px;
}

.cover {
  border: 1 solid blueviolet;
  padding: 5px;
}